* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.main-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border: 1px solid black;
}

.main-menu {
    display: flex;
    gap: 30px;
}

.main-menu>li {
    position: relative;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #1dc7d3;
    color: paleturquoise;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px;
    padding: 10px;
    z-index: 10;
}

.sub-menu li {
    width: 120px;
    padding: 8px 0;
}

.main-menu>li:hover .sub-menu {
    display: block;
}

/* Slide4.jsx의 슬라이드 css와 이미지 css */
.slidediv {
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    width: 1200px;
    height: 1800px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------ */

/* 여기서부터 contents4.jsx의 css 시작 */
.contents-flexbox {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f0f0f0;
    border: 1px solid;
    padding: 10px 0;
}

.content-box {
    width: 30%;
    height: 200px;
    border: 1px solid black;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    line-height: 160px;
}

.tab-section {
    width: 30%;
    height: 180px;
    border: 1px solid black;
    background-color: #f1f1f1;
}

.tabs button.active {
    background-color: #1dc7d3;
    font-weight: bold;
}

.tabs {
    display: flex;
    justify-content: space-around;
}

.tabs button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
}

.notice-box,
.gallery-box {
    height: 150px;
    text-align: center;
    line-height: 120px;
}

.banner-box,
.link-box {
    width: 30%;
    height: 180px;
    border: 1px solid black;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    line-height: 160px;
}


/* 여기서부터 Footer4.jsx css */
/* .footerbox {
    width: 1200px;
    height: 100px;
    border: 1px solid black;
    justify-content: space-around;
    padding: 10px 0;
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.footerlogo {
    flex: 2;
    border-right: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footercopy {
    flex: 6;
    border-right: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footersns {
    flex: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer2-table {
    width: 100%;
    border-collapse: collapse;
}

.footer-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.log2,
.copyright2,
.sns2 {
    border: 1px solid black;
    padding: 10px;
} */

.footerbox {
    width: 1200px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 0;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 8;
    border-left: 1px dashed black;
    padding-left: 20px;
}

.copyright {
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
    width: 100%;
    text-align: center;
}

.sns {
    /* padding-top: 10px; */
    width: 100%;
    text-align: center;
}

.gaegu-korean {
    font-family: "Gaegu", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 150%;
}